<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Speciality</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veterinarian of veterinarian">
            <td>{{ veterinarian.id }}</td>
            <td>{{ veterinarian.firstName }}</td>
            <td>{{veterinarian.lastName}}</td>
            <td>{{veterinarian.speciality}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>