<div><button class="btn btn-primary hBack" routerLink="/home" type="button">Back</button></div>
<img src="../assets/medic.jpg" style="width: 280px">
----
<img src="../assets/catel2.jpg" class="center"style="width: 450px">

<div class="card my-3">
    <div class="card-jumbotron">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Speciality</th>
            <th scope="col"> Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let veterinarian of veterinarian">
            <td>{{ veterinarian.id }}</td>
            <td>{{ veterinarian.firstName }}</td>
            <td>{{veterinarian.lastName}}</td>
            <td>{{veterinarian.speciality}}</td>
             <td>
              <button type="button"class="btn btn-danger"(click)="deleteVeterinarian(veterinarian.id)">Delete</button>
              <button type="button"class="btn btn-info"(click)="viewDetails(veterinarian)">Details</button>
              
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    
 </div>
