<div class="container"> 
<h2>Pet details</h2>
<table class="table table-bordered tavel-striped table-hover">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Race</td>
            <td>DateOfBirth</td>
            <td>Kilos</td>
            <td>isVaccinated</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.race}}</td>
            <td>{{pet.dateOfBirth}}</td>
            <td>{{pet.kilos}}</td>
            <td>{{pet.isVaccinated}}</td>
        </tr>

    </tbody>

    </table>
    
</div>
