<div class="container buttom">
    <h2 class="display-3">WELCOME!Add a New Veterinarian </h2>
    <p class="lead">Welcome! Here we can add a new doctor/assistant colleague. (with first name and specialization).</p>
      <hr>
            <form [formGroup]="myGroup">
           <div class="mb-3">
             <label for="firstname" class="form-label" >FirstName</label>
             <input type="string" class="form-control" formControlName="formVeterinarianFirstName">
           </div>
           <div class="mb-3">
            <label for="lastname" class="form-label">LastName</label>
            <input type="string" class="form-control" formControlName="formVeterinarianLastName">
          </div>
           <div class="mb-3">
             <label for="speciality" class="form-label">Speciality</label>
             <input type="string" class="form-control" formControlName="formVeterinarianSpeciality" >
           </div>

             <button type="button"  class="btn btn-danger" (click)="createVeterinarian()">Save </button>

            </form>
            <img src="../assets/catel2.jpg" style="width: 450px">
  </div>
