<div class="bg"></div>
<h1 class="display-3" class="pagination justify-content-center"> Welcome to our veterinary clinic! </h1>
<h3 class=" text-center">Consultation is the first step in establishing the diagnosis and future therapeutic behavior.
  The first consultation when purchasing an animal is essential, so we are waiting for you with advice on the best nutrition, education and prophylactic actions.</h3>
<div class="jumbotron">
  <hr>
    <img src="../assets/Home-page.jpg" class="center" style="width: 1550px"  >
  <hr>    
   <hr>
    </div> 
