<div class="container buttom">
    <h2>New Pet! </h2>
      <hr>
      <form [formGroup]="myGroup" >
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="string" class="form-control" formControlName="formPetName" >
        </div>
        <div class="mb-3">
          <label for="race" class="form-label">Race</label>
          <input type="string" class="form-control" formControlName="formRace" >
        </div>
        <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Date of birth</label>
            <input type="date" class="form-control" formControlName="formDateOfBirth" >
        </div>
        <div class="mb-3">
            <label for="kilos" class="form-label">Kilos</label>
            <input type="string" class="form-control" formControlName="formKilos" >
        </div>
        <div class="mb-3">
            <label for="isVaccinated" class="form-label">Vaccinated</label>
            <input type="string" class="form-control" formControlName="formVaccinated">
        </div>
        <button type="submit" class="btn btn-primary" (click)="createPet()">Save</button>
      </form>

  </div>
